# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Glen Bray
mail = glen.bray@gmail.com
	email = glen.bray@gmail.com
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[init]
	defaultBranch = main
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

